<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<div th:insert="~{parts/header :: header}"></div>

<h2>
    Hello...Дружок
</h2>
<div sec:authorize="isAnonymous()">
    <h3>First of all u need to Log in or Sign Up.</h3>
    <h3>And then u can start spending your time chatting with friends :)</h3>
</div>
</body>
</html>